<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %> - Collect and organize your movies
  </title>

  <!--Meta-->
  <meta charset="UTF-8" />
  <meta name="description"
    content="Manage your movie collection, organize titles, and discover the latest additions from the community at MyCinemaCollector." />
  <meta name="keywords" content="movies, collection, users, cinema, organization, lending" />
  <meta name="author" content="Antonio Cordero Molina 2ºDAW" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Estilos-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/theme.css" />
  <link rel="stylesheet" href="/stylesheets/components.css" />

  <!--Fuentes-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

  <!--Logo-->
  <link rel="icon" type="image/svg+xml" href="/images/logo.svg">

  <!--Iconos-->
  <script src="https://kit.fontawesome.com/ef48f4e9ad.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--Header y Menu nav-->
  <%- include("partials/header") %>

  <main>
    <!--Hero Section-->
    <section class="hero">
      <h1>Welcome to MyCinemaCollector</h1>
      <p>
        Browse and organize your movie collection, see the latest titles added by the community, and discover which ones are available for lending. Manage, explore, and enjoy your love of cinema from one place.
      </p>
      <a href="#" class="btn" id="open-registration">Start now</a>
    </section>

    <!--Grid peliculas recientes-->
    <section class="movies">
      <h2>Latest movies added</h2>
      <hr class="divider-orange">
      <div class="movies-grid">
        <% movies.forEach(movie => { %>
          <div class="card">
            <img src="<%= movie.poster %>" alt="<%= movie.title %>">
            <span><%= movie.title %></span>
            <div class="tags">
              <% movie.genres.forEach(g => { %>
                <span class="tag"><%= g %></span>
              <% }) %>
            </div>
            <a href="/movies/<%= movie.id %>" class="card-link">See more</a>
          </div>
        <% }) %>
      </div>

      
    </section>
  </main>

  <!--Footer with social links-->
  <%- include("partials/footer") %>

  <!--Offcanvas-->
  <%- include("partials/off-canvas") %>

  <script src="/javascripts/off-canvas.js"></script>

</body>
</html>
